[submodule "leapjs"]
	path = leapjs
	url = git@github.com:wkulczi/leapjs.git
[submodule "leapLearner"]
	path = leapModels
	url = git@github.com:wkulczi/leapLearner.git
[submodule "leapTrainer"]
	path = leapDataCollector
	url = git@github.com:wkulczi/leapDataCollector.git
[submodule "MMM-leapMirror"]
	path = MMM-leapMirror
	url = https://github.com/wkulczi/MMM-leapMirror
[submodule "leapDataParser"]
	path = leapDataParser
	url = git@github.com:wkulczi/leapDataParser.git
